Repository dragonsbootcampllc/DragonsBootcampLMS, pull requests merged in 2024-09, with the labels that each got.

#75 socket authentication
  Server/middlewares/socketAuthentacation.js
  Server/server.js
  Server/socketServer.js
Labels: Security, Real-time Communication, Socket.io

#76 Endpoints for creating and managing discussion threads
  Server/Controllers/discussionController.js
  Server/Models/discussion_thread.js
  Server/Models/index.js
  Server/Routes/discussionRoutes.js
  Server/Routes/index.js
Labels: Real-time Communication, Discussion

#74 Endpoints for Fetching Historical Chat Messages
  Server/Controllers/chatController.js
  Server/Models/chat.js
  Server/Models/chat_message.js
  Server/Models/index.js
  Server/Routes/chatRouters.js
  Server/Routes/index.js
Labels: Real-time Communication
