Repository dragonsbootcampllc/DragonsBootcampLMS, pull requests merged in 2024-10, with the labels that each got.

#77 69 implement real time chat using socketio
  Server/Models/chat_message.js
  Server/Models/index.js
  Server/Models/user.js
  Server/Services/chatService.js
  Server/Services/notificationService.js
  Server/middlewares/socketAuthentacation.js
  Server/socketServer.js
  Server/sockets/chatSocket.js
  Server/sockets/notificationSocket.js
Labels: Socket.io

#78 [#29, #70 ]:Create endpoints for posting messages within discussion threads and Implement Real-Time Updates for Discussion Threads
  Server/Controllers/discussionController.js
  Server/Models/index.js
  Server/Models/threadParticipant.js
  Server/Routes/discussionRoutes.js
  Server/Routes/index.js
  Server/Services/discussionService.js
  Server/server.js
  Server/socketServer.js
  Server/sockets/discussionSocket.js
Labels: Real-time Communication, Discussion, Socket.io

#79 Notification system
  Server/.env
  Server/Services/notificationService.js
Labels: Notifications, Socket.io
