Repository dragonsbootcampllc/DragonsBootcampLMS, pull requests merged in 2024-08, with the labels that each got.

#43 implemented the crud operations for tasks
  Server/Controllers/taskController.js
  Server/Models/coures.js
  Server/Models/lecture.js
  Server/Models/task.js
  Server/Routes/index.js
  Server/Routes/taskRoute.js
  Server/Services/Mailer.js
  Server/utils/validators/taskValidator.js
Labels: Task Management

#47 implement crud operations for the lecture model
  Server/Controllers/authController.js
  Server/Controllers/courseController.js
  Server/Controllers/lectureController.js
  Server/Controllers/taskController.js
  Server/Models/index.js
  Server/Routes/courseRoutes.js
  Server/Routes/index.js
  Server/Routes/lectureRoutes.js
  Server/Routes/taskRoute.js
  Server/Routes/userRoutes.js
  Server/Services/Mailer.js
  Server/middlewares/protect.js
  Server/utils/validators/courseValidator.js
  Server/utils/validators/lectureValidator.js
  Server/utils/verifyRole.js
Labels: Lecture Management

#60 Implement a system to track and store each user's progress within a c…
  Server/.env
  Server/Controllers/authController.js
  Server/Controllers/userCourseProgressController.js
  Server/Models/index.js
  Server/Models/userCourseProgress.js
  Server/Routes/index.js
  Server/Routes/progressRoutes.js
  Server/middlewares/protect.js
  Server/utils/validators/usercoursevalidator.js
Labels: Progress Tracking

#51 Implement CRUD API endpoints for managing Content within a lecture.
  Server/Controllers/contentController.js
  Server/Controllers/lectureController.js
  Server/Routes/contentRoutes.js
  Server/Routes/index.js
  Server/Routes/lectureRoutes.js
  Server/utils/validators/contentValidator.js
Labels: Content Management

#49 Issue #19: Fetch logged user activities
  Server/Controllers/activitiesController.js
  Server/Controllers/authController.js
  Server/Models/ai_insight.js
  Server/Models/book_resource.js
  Server/Models/chat_message.js
  Server/Models/content.js
  Server/Models/discussion_post.js
  Server/Models/discussion_thread.js
  Server/Models/lecture.js
  Server/Models/notification.js
  Server/Models/streaming_content.js
  Server/Models/user_activity.js
  Server/Models/user_profile.js
  Server/Routes/activitiesRoutes.js
  Server/Routes/courseRoutes.js
  Server/Routes/index.js
  Server/Routes/userRoutes.js
Labels: User Activity

#64 calculate average task progress in course
  Server/.gitignore
  Server/Controllers/taskProgressController.js
  Server/Models/index.js
  Server/Models/task.js
  Server/Models/userTaskPrpgress.js
  Server/Routes/courseRoutes.js
  Server/Routes/taskProgressRoute.js
  Server/config/database.js
  Server/config/options.js
Labels: Task Progress

#66 implmented an endpoint that returns 1 to 4 recent endpoints
  Server/Controllers/taskController.js
  Server/Routes/taskRoute.js
Labels: Task Management
